<% layout('layout')%>
<div class = 'ui container'>
    <% posts.forEach(function(post){%>
        
            <div class = 'ui container main text segment'>
            <h2 class='header'><%=post.title.toUpperCase()%></h2>
            <small><%=post.date.toDateString()%></small>
            <img src='/uploads/<%=post.image%>' width='666' height='354.94' auto='compress' cs='tinysrgb'>
            <p><%-post.content.substr(0,200)%>...<p>
            <a href="/posts/<%=post.slug%>" class = 'ui purple inverted button'>Read More</a><br>
            <small class = 'ui floated right item'>category: <a href = '/categories/<%=post.category%>'><%=post.category%></a></small>                                                                 
        </div>   
    <%})%>
</div>