<% layout('layout') %>
<div class='ui container main text segment'>

   <h2>Name: <%=profileUser.name%></h2>
   <h3>Email: <%=profileUser.email%></h3>
    <a href = "/profile/<%=profileUser._id%>/posts">  <h4>Posts: <%if(profileUser.posts.length == 1){%>
    <span> <%=profileUser.posts.length%>  Post</span>
<%}else{%>
    <span> <%=profileUser.posts.length%>  Posts</span>
<%}%></h4></a>
   <h5>Comments: <%if(profileUser.comments.length == 1){%>
    <span> <%=profileUser.comments.length%>  Comment</span>
<%}else{%>
    <span> <%=profileUser.comments.length%>  Comments</span>
<%}%></h5>
   <%if(user && user._id.equals(profileUser._id)){%>
     <a href="/profile/<%=profileUser._id%>/edit" class='ui inverted purple button'>Edit Profile</a>
   <%}%>
  
</div>

