<%layout('layout')%>
<div class='ui container segment text'>
    <%if(posts.length === 0){%>
<h2 class= 'text-center'>No results for "<%=query%>"</h2>
<%}%>
<%if(posts.length > 0){%>

    <h4 class='lead text-center'>Search results for "<%=query%>" - <%=posts.length%> 
    <%if(posts.length === 1){%>
       Post
    <%}else{%>
        Posts
    <%}%>
    </h4>
<%}%>
</div>


<div class = 'ui container'>
    <% posts.forEach(function(post){%>
        
            <div class = 'ui container main text segment'>
            <h2 class='header'><%=post.title.toUpperCase()%></h2>
            <small><%=post.date.toDateString()%></small>
            <%if(post.image){%>
                    <img src='<%=post.image%>' width='100%'><br><br>
                    <% }else{%>
                        <img src='http://www.pacinno.eu/wp-content/uploads/2014/05/placeholder-Copy.png' width='666' height='354.94'><br><br>
                        <%}%><br><br>
            <div><%-post.content.substr(0,200)%>...</div><br>
            <a href="/posts/<%=post.slug%>" class = 'ui purple inverted button'>Read More</a><br>
            <small class = 'ui floated right item'>Category: <a href = '/categories/<%=post.category.name%>'><%=post.category.name%></a></small>                                                                 
            <%if(post.author){%>
                <small class = 'ui floated right item'>Author: <a href = '/profile/<%=post.author._id%>'><%=post.author.name%></a></small>                                                                 
            <%}%>
            
        </div>   
    <%})%>